.br-select {
  display: flex;
  font-family: var(--br-font-sans);
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;

  &.on-focus:not(.disabled) {
    button:not(.disabled) > svg {
      transform: scale(1) rotate(180deg);
      transition: transform 0.3s;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: var(--br-spacing-small);

    svg {
      width: inherit;
      display: inline-block;
      vertical-align: middle;
      transition: transform 0.3s ease;
      fill: var(--br-color-neutral-600);
      cursor: pointer;

      &.disabled {
        visibility: hidden;
      }
    }

    &:focus-visible,
    &:active,
    &:visited,
    &:hover,
    &:focus {
      background-color: transparent;
      outline: none;
      -webkit-appearance: none;
    }

    &:hover > svg {
      fill: var(--br-color-neutral-600);
    }
  }
}

.br-select-dropdown {
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
  border-radius: var(--br-border-radius-medium);
  position: fixed;
  z-index: 50;
  background-color: var(--br-color-white);
  display: block;
  visibility: hidden;
  transform: scale(0.75, 0.75);
  transition: transform 0.1s ease-in-out;

  &.active {
    visibility: visible;
    transform: scale(1, 1);
    transition: transform 0.1s ease-in-out;
  }

  ul {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: var(--br-font-weight-normal);
      font-size: var(--br-font-size-small);
      border-bottom: transparent;
      color: var(--br-color-neutral-600);
      cursor: pointer;

      p {
        padding: var(--br-spacing-small);
        color: var(--br-color-neutral-600);
        font-size: var(--br-font-size-small);
        font-weight: var(--br-font-weight-normal);
      }

      .option {
        width: calc(100% - 22px);
        margin-bottom: 0px;
      }

      button {
        padding: var(--br-spacing-x-small);

        svg {
          fill: var(--br-color-neutral-600);
        }
      }

      button:hover {
        background-color: var(--br-color-primary-500);
        border-radius: var(--br-border-radius-medium);

        svg {
          fill: var(--br-color-primary-600);
        }
      }

      &:hover {
        background-color: var(--br-color-primary-50);
      }

      &:hover p,
      &.active p {
        color: var(--br-color-primary-500);
        font-weight: var(--br-font-weight-bold);
      }

      &:first-child {
        border-top-left-radius: var(--br-border-radius-medium);
        border-top-right-radius: var(--br-border-radius-medium);
      }

      &:last-child {
        border-bottom-left-radius: var(--br-border-radius-medium);
        border-bottom-right-radius: var(--br-border-radius-medium);
      }
    }
  }
}

.br-select.disabled > button > svg {
  fill: var(--br-color-neutral-200);
  cursor: not-allowed;
}

.br-select-dropdown.small {
  li {
    font-size: var(--br-font-size-small);
  }

  p {
    font-size: var(--br-font-size-small);
  }
}

.br-select-dropdown.medium {
  li {
    font-size: var(--br-font-size-medium);
  }

  p {
    font-size: var(--br-font-size-medium);
  }
}

.br-select-dropdown.large {
  li {
    font-size: var(--br-font-size-large);
  }

  p {
    font-size: var(--br-font-size-large);
  }
}
