.br-select {
  display: flex;
  font-family: var(--br-font-sans);
  flex-direction: row-reverse;
  position: relative;
  align-items: center;
  width: 100%;
  height: 42px;

  &:not(.disabled):hover {
    input {
      border: 1px solid var(--br-color-primary-500);
      border-left: transparent;
    }

    input.label-less {
      border-left: 1px solid var(--br-color-primary-500);
    }

    p {
      border: 1px solid var(--br-color-primary-500);
      border-right: none;
    }
  }

  &.on-focus:not(.disabled) {
    box-shadow: 0 0 0 2px var(--br-color-primary-50);
    border-radius: var(--br-border-radius-medium);
  }

  p {
    display: inline-block;
    font-family: var(--br-font-sans);
    font-size: var(--br-font-size-small);
    font-weight: var(--br-font-weight-bold);
    color: var(--br-color-primary-500);
    border: 1px solid var(--br-color-neutral-300);
    border-right: none;
    border-radius: var(--br-border-radius-medium);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: border 0.3s ease;
    padding: var(--br-spacing-x-small) var(--br-spacing-small);
    padding-right: 0px;
    width: 25%;
    margin: 0;
    height: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  input {
    font-family: var(--br-font-sans);
    border-radius: var(--br-border-radius-medium);
    font-size: var(--br-font-size-small);
    font-weight: var(--br-font-weight-normal);
    color: var(--br-color-neutral-600);
    border: 1px solid var(--br-color-neutral-300);
    border-left: transparent;
    width: 75%;
    padding: var(--br-spacing-x-small) var(--br-spacing-small);
    transition: border 0.3s ease;
    cursor: pointer;
    height: inherit;
  }

  input.label {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  input:focus,
  input:focus-visible,
  input.on-focus {
    border: 1px solid var(--br-color-primary-500);
    border-left: transparent;
    outline: none;
    transition: border 0.3s ease;
  }

  input:focus ~ p,
  input:focus-visible ~ p,
  input.on-focus ~ p {
    border: 1px solid var(--br-color-primary-500);
    border-right: transparent;
    transition: border 0.3s ease;
  }

  input.label-less {
    border-left: 1px solid var(--br-color-neutral-300);
    width: 100%;
  }

  &:not(.disabled) input.label-less:focus,
  &:not(.disabled) input.label-less:focus-visible {
    border-left: 1px solid var(--br-color-primary-500);
  }

  /** Chrome, Safari, Edge, Opera*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /** Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: var(--br-spacing-small);

    svg {
      width: inherit;
      display: inline-block;
      vertical-align: middle;
      transition: transform 0.3s ease;
      fill: var(--br-color-neutral-600);
      cursor: pointer;

      &.disabled {
        visibility: hidden;
      }
    }

    &:focus-visible,
    &:focus-within,
    &:active,
    &:visited,
    &:hover,
    &:focus {
      background-color: transparent;
      outline: none;
      -webkit-appearance: none;
    }
  }

  input.active ~ button:not(.disabled) > svg {
    transform: scale(1) rotate(180deg);
    transition: transform 0.3s;
  }
}

.br-select-dropdown {
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.15));
  border-radius: var(--br-border-radius-medium);
  position: fixed;
  z-index: 50;
  background-color: var(--br-color-white);
  display: block;
  visibility: hidden;
  transform: scale(0.75, 0.75);
  transition: transform 0.1s ease-in-out;

  &.active {
    visibility: visible;
    transform: scale(1, 1);
    transition: transform 0.1s ease-in-out;
  }

  ul {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--br-spacing-small);
      font-weight: var(--br-font-weight-normal);
      font-size: var(--br-font-size-small);
      border-bottom: transparent;
      color: var(--br-color-neutral-600);
      cursor: pointer;

      p {
        color: var(--br-color-neutral-600);
        font-size: var(--br-font-size-small);
        font-weight: var(--br-font-weight-normal);
      }

      .option {
        width: calc(100% - 22px);
        margin-bottom: 0px;
      }

      button {
        padding: var(--br-spacing-x-small);

        svg {
          fill: var(--br-color-neutral-600);
        }
      }

      button:hover {
        background-color: var(--br-color-primary-500);
        border-radius: var(--br-border-radius-medium);

        svg {
          fill: var(--br-color-primary-600);
        }
      }

      &:hover {
        background-color: var(--br-color-primary-50);
      }

      &:hover p,
      &.active p {
        color: var(--br-color-primary-500);
        font-weight: var(--br-font-weight-bold);
      }

      &:first-child {
        border-top-left-radius: var(--br-border-radius-medium);
        border-top-right-radius: var(--br-border-radius-medium);
      }

      &:last-child {
        border-bottom-left-radius: var(--br-border-radius-medium);
        border-bottom-right-radius: var(--br-border-radius-medium);
      }
    }
  }
}

.br-select.disabled > input {
  background-color: var(--br-color-neutral-50);
  color: var(--br-color-neutral-200);
  border: 1px solid var(--br-color-neutral-200);
  cursor: not-allowed;
}

.br-select.disabled > button > svg {
  fill: var(--br-color-neutral-200);
  cursor: not-allowed;
}

.br-select.small {
  height: 42px;

  p {
    font-size: var(--br-font-size-small);
    padding: var(--br-spacing-x-small) var(--br-spacing-small);
  }

  input {
    font-size: var(--br-font-size-small);
    padding: var(--br-spacing-x-small) var(--br-spacing-small);
  }
}

.br-select-dropdown.small {
  li {
    font-size: var(--br-font-size-small);
  }

  p {
    font-size: var(--br-font-size-small);
  }
}

.br-select.medium {
  height: 50px;

  p {
    font-size: var(--br-font-size-medium);
    padding: var(--br-spacing-small) var(--br-spacing-medium);
    width: 30%;
  }

  input {
    font-size: var(--br-font-size-medium);
    padding: var(--br-spacing-small) var(--br-spacing-medium);
    width: 70%;
  }

  input.label-less {
    width: 100%;
  }
}

.br-select-dropdown.medium {
  li {
    font-size: var(--br-font-size-medium);
  }

  p {
    font-size: var(--br-font-size-medium);
  }
}

.br-select.large {
  height: 58px;

  p {
    font-size: var(--br-font-size-large);
    padding: var(--br-spacing-medium) var(--br-spacing-large);
    width: 35%;
  }

  input {
    font-size: var(--br-font-size-large);
    padding: var(--br-spacing-medium) var(--br-spacing-large);
    width: 65%;
  }

  input.label-less {
    width: 100%;
  }
}

.br-select-dropdown.large {
  li {
    font-size: var(--br-font-size-large);
  }

  p {
    font-size: var(--br-font-size-large);
  }
}

.br-select.pill {
  border-radius: var(--br-border-radius-pill);

  &.on-focus:not(.disabled) {
    border-radius: var(--br-border-radius-pill);
  }

  p {
    border-radius: var(--br-border-radius-pill);
  }

  input {
    border-radius: var(--br-border-radius-pill);
  }

  input.label {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  p.label {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
