.br-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--br-spacing-large);
  height: var(--br-spacing-large);

  svg {
    width: var(--br-spacing-large);
    height: var(--br-spacing-large);
  }
}
