.br-button {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  text-decoration: none;
  font-size: var(--br-font-size-small);
  font-weight: var(--br-font-weight-bold);
  padding: var(--br-spacing-x-small) var(--br-spacing-small);
  background-color: transparent;
  border: 1px solid var(--br-color-neutral-300);
  color: var(--br-color-neutral-500);
  border-radius: var(--br-border-radius-small);
  height: auto;

  a,
  * {
    color: var(--br-color-neutral-500);
    fill: var(--br-color-neutral-500);
    font-weight: var(--br-font-weight-bold);
    text-decoration: none;
  }

  &:hover:not(:disabled, .disabled) {
    background-color: var(--br-color-primary-50);
    color: var(--br-color-primary-600);
    border: 1px solid var(--br-color-primary-300);

    a,
    * {
      color: var(--br-color-primary-600);
      fill: var(--br-color-primary-600);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }
  }

  &:focus:not(:disabled, .disabled),
  &:focus-within:not(:disabled, .disabled),
  &:focus-visible:not(:disabled, .disabled) {
    outline: var(--br-spacing-3x-small) solid var(--br-color-primary-100);
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    background-color: transparent;
    color: var(--br-color-neutral-200);
    border: 1px solid var(--br-color-neutral-200);
    cursor: not-allowed;

    a,
    * {
      color: var(--br-color-neutral-200);
      fill: var(--br-color-neutral-200);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
      cursor: not-allowed;
    }
  }

  // Variants
  &--primary {
    background-color: var(--br-color-primary-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      fill: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-primary-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-within:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-primary-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-primary-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-primary-500);
      border: 1px solid var(--br-color-primary-500);

      a,
      * {
        color: var(--br-color-primary-500);
        fill: var(--br-color-primary-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-primary-500);
        color: var(--br-color-white);
        border: 1px solid var(--br-color-primary-500);

        a,
        * {
          color: var(--br-color-white);
          fill: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-primary-200);
        border: 1px solid var(--br-color-primary-200);

        a,
        * {
          color: var(--br-color-primary-200);
          fill: var(--br-color-primary-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-primary-500);

      a,
      * {
        color: var(--br-color-primary-500);
        fill: var(--br-color-primary-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-primary-600);

        a,
        * {
          color: var(--br-color-primary-600);
          fill: var(--br-color-primary-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-primary-200);

        a,
        * {
          color: var(--br-color-primary-200);
          fill: var(--br-color-primary-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &--neutral {
    background-color: var(--br-color-neutral-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      fill: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-neutral-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-within:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-neutral-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-neutral-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-neutral-500);
      border: 1px solid var(--br-color-neutral-500);

      a,
      * {
        color: var(--br-color-neutral-500);
        fill: var(--br-color-neutral-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-neutral-500);
        border: 1px solid var(--br-color-neutral-500);
        color: var(--br-color-white);

        a,
        * {
          color: var(--br-color-white);
          fill: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-neutral-200);
        border: 1px solid var(--br-color-neutral-200);

        a,
        * {
          color: var(--br-color-neutral-200);
          fill: var(--br-color-neutral-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-neutral-500);

      a,
      * {
        color: var(--br-color-neutral-500);
        fill: var(--br-color-neutral-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-neutral-600);

        a,
        * {
          color: var(--br-color-neutral-600);
          fill: var(--br-color-neutral-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-neutral-200);

        a,
        * {
          color: var(--br-color-neutral-200);
          fill: var(--br-color-neutral-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &--success {
    background-color: var(--br-color-success-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      fill: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-success-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-within:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-success-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-success-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-success-500);
      border: 1px solid var(--br-color-success-500);

      a,
      * {
        color: var(--br-color-success-500);
        fill: var(--br-color-success-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-success-500);
        border: 1px solid var(--br-color-success-500);
        color: var(--br-color-white);

        a,
        * {
          color: var(--br-color-white);
          fill: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-success-200);
        border: 1px solid var(--br-color-success-200);

        a,
        * {
          color: var(--br-color-success-200);
          fill: var(--br-color-success-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-success-500);

      a,
      * {
        color: var(--br-color-success-500);
        fill: var(--br-color-success-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-success-600);

        a,
        * {
          color: var(--br-color-success-600);
          fill: var(--br-color-success-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-success-200);

        a,
        * {
          color: var(--br-color-success-200);
          fill: var(--br-color-success-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &--warning {
    background-color: var(--br-color-warning-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      fill: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-warning-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-within:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-warning-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-warning-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-warning-500);
      border: 1px solid var(--br-color-warning-500);

      a,
      * {
        color: var(--br-color-warning-500);
        fill: var(--br-color-warning-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-warning-500);
        border: 1px solid var(--br-color-warning-500);
        color: var(--br-color-white);

        a,
        * {
          color: var(--br-color-white);
          fill: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-warning-200);
        border: 1px solid var(--br-color-warning-200);

        a,
        * {
          color: var(--br-color-warning-200);
          fill: var(--br-color-warning-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-warning-500);

      a,
      * {
        color: var(--br-color-warning-500);
        fill: var(--br-color-warning-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-warning-600);

        a,
        * {
          color: var(--br-color-warning-600);
          fill: var(--br-color-warning-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-warning-200);

        a,
        * {
          color: var(--br-color-warning-200);
          fill: var(--br-color-warning-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &--danger {
    background-color: var(--br-color-danger-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      fill: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-danger-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-within:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-danger-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-danger-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        fill: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-danger-500);
      border: 1px solid var(--br-color-danger-500);

      a,
      * {
        color: var(--br-color-danger-500);
        fill: var(--br-color-danger-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-danger-500);
        border: 1px solid var(--br-color-danger-500);
        color: var(--br-color-white);

        a,
        * {
          color: var(--br-color-white);
          fill: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-danger-200);
        border: 1px solid var(--br-color-danger-200);

        a,
        * {
          color: var(--br-color-danger-200);
          fill: var(--br-color-danger-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-danger-500);

      a,
      * {
        color: var(--br-color-danger-500);
        fill: var(--br-color-danger-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-danger-600);

        a,
        * {
          color: var(--br-color-danger-600);
          fill: var(--br-color-danger-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-danger-200);

        a,
        * {
          color: var(--br-color-danger-200);
          fill: var(--br-color-danger-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  // Sizes
  &--small {
    padding: var(--br-spacing-x-small) var(--br-spacing-small);
    font-size: var(--br-font-size-small);

    svg {
      width: var(--br-font-size-x-small);
      height: var(--br-font-size-x-small);
    }
  }

  &--medium {
    padding: var(--br-spacing-small) var(--br-spacing-medium);
    font-size: var(--br-font-size-medium);

    svg {
      width: var(--br-font-size-medium);
      height: var(--br-font-size-medium);
    }
  }

  &--large {
    padding: var(--br-spacing-medium) var(--br-spacing-large);
    font-size: var(--br-font-size-large);

    svg {
      width: var(--br-font-size-large);
      height: var(--br-font-size-large);
    }
  }

  // Pill
  &--pill {
    border-radius: var(--br-border-radius-pill);
  }

  // Outline
  &.outline {
    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-primary-500);
      color: var(--br-color-white);
    }
  }

  // Text
  &.text {
    background-color: transparent;
    border: transparent;

    &:hover:not(:disabled, .disabled) {
      background-color: transparent;
      border: transparent;
    }

    &:focus:not(:disabled, .disabled),
    &:focus-within:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: transparent;
    }

    &:disabled,
    &.disabled {
      background-color: transparent;
      border: transparent;
    }
  }
}

// Ripple effect
.ripple {
  background-position: center;
  transition: background 0.5s;

  &:hover:not(:disabled, .disabled, .outline, .text) {
    background: var(--br-color-primary-100)
      radial-gradient(circle, transparent 1%, var(--br-color-primary-100) 1%)
      center/15000%;
  }

  &:active:not(:disabled, .disabled, .outline, .text) {
    background-color: var(--br-color-primary-200);
    background-size: 100%;
    transition: background 0s;
  }

  &.outline:hover:not(:disabled, .disabled, .text) {
    background: var(--br-color-primary-500)
      radial-gradient(circle, transparent 1%, var(--br-color-primary-500) 1%)
      center/15000%;
  }

  &.outline:active:not(:disabled, .disabled, .text) {
    background-color: var(--br-color-primary-600);
    background-size: 100%;
    transition: background 0s;
  }

  &.br-button--primary:not(:disabled, .disabled, .outline, .text) {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-primary-700)
        radial-gradient(circle, transparent 1%, var(--br-color-primary-700) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-primary-800);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.br-button--primary:not(:disabled, .disabled, .text).outline {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-primary-500)
        radial-gradient(circle, transparent 1%, var(--br-color-primary-500) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-primary-600);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.br-button--neutral:not(:disabled, .disabled, .text, .outline) {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-neutral-700)
        radial-gradient(circle, transparent 1%, var(--br-color-neutral-700) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-neutral-800);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.br-button--neutral:not(:disabled, .disabled, .text).outline {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-neutral-500)
        radial-gradient(circle, transparent 1%, var(--br-color-neutral-500) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-neutral-600);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.br-button--success:not(:disabled, .disabled, .text, .outline) {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-success-700)
        radial-gradient(circle, transparent 1%, var(--br-color-success-700) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-success-800);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.br-button--success:not(:disabled, .disabled, .text).outline {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-success-500)
        radial-gradient(circle, transparent 1%, var(--br-color-success-500) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-success-600);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.br-button--warning:not(:disabled, .disabled, .text, .outline) {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-warning-700)
        radial-gradient(circle, transparent 1%, var(--br-color-warning-700) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-warning-800);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.br-button--warning:not(:disabled, .disabled, .text).outline {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-warning-500)
        radial-gradient(circle, transparent 1%, var(--br-color-warning-500) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-warning-600);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.br-button--danger:not(:disabled, .disabled, .text, .outline) {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-danger-700)
        radial-gradient(circle, transparent 1%, var(--br-color-danger-700) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-danger-800);
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.br-button--danger:not(:disabled, .disabled, .text).outline {
    &:hover:not(:disabled, .disabled) {
      background: var(--br-color-danger-500)
        radial-gradient(circle, transparent 1%, var(--br-color-danger-500) 1%)
        center/15000%;
    }

    &:active:not(:disabled, .disabled) {
      background-color: var(--br-color-danger-600);
      background-size: 100%;
      transition: background 0s;
    }
  }
}
