.br-button {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  text-decoration: none;
  font-family: var(--br-font-sans);
  font-size: var(--br-font-size-small);
  font-weight: var(--br-font-weight-bold);
  padding: var(--br-spacing-x-small) var(--br-spacing-small);
  background-color: transparent;
  border: 1px solid var(--br-color-neutral-300);
  color: var(--br-color-neutral-500);
  border-radius: var(--br-border-radius-medium);
  height: auto;

  a,
  * {
    color: var(--br-color-neutral-500);
    font-weight: var(--br-font-weight-bold);
    text-decoration: none;
  }

  &:hover:not(:disabled, .disabled) {
    background-color: var(--br-color-primary-50);
    color: var(--br-color-primary-600);
    border: 1px solid var(--br-color-primary-300);

    a,
    * {
      color: var(--br-color-primary-600);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }
  }

  &:focus:not(:disabled, .disabled),
  &:focus-visible:not(:disabled, .disabled) {
    outline: var(--br-spacing-3x-small) solid var(--br-color-primary-100);
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    background-color: transparent;
    color: var(--br-color-neutral-200);
    border: 1px solid var(--br-color-neutral-200);
    cursor: not-allowed;

    a,
    * {
      color: var(--br-color-neutral-200);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
      cursor: not-allowed;
    }
  }

  // Pill
  &--pill {
    border-radius: var(--br-border-radius-pill);
  }

  // Outline
  &.outline {
    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-primary-500);
      border: 1px solid var(--br-color-primary-500);
      color: var(--br-color-white);
    }
  }

  // Text
  &.text {
    background-color: transparent;
    border: transparent;

    &:hover:not(:disabled, .disabled) {
      background-color: transparent;
      border: transparent;
    }

    &:focus:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: transparent;
    }

    &:disabled,
    &.disabled {
      background-color: transparent;
      border: transparent;
    }
  }

  // Variants
  &--primary {
    background-color: var(--br-color-primary-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-primary-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-primary-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-primary-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-primary-500);
      border: 1px solid var(--br-color-primary-500);

      a,
      * {
        color: var(--br-color-primary-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-primary-500);
        color: var(--br-color-white);
        border: 1px solid var(--br-color-primary-500);

        a,
        * {
          color: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-primary-200);
        border: 1px solid var(--br-color-primary-200);

        a,
        * {
          color: var(--br-color-primary-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-primary-500);

      a,
      * {
        color: var(--br-color-primary-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-primary-600);

        a,
        * {
          color: var(--br-color-primary-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-primary-200);

        a,
        * {
          color: var(--br-color-primary-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &--neutral {
    background-color: var(--br-color-neutral-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-neutral-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-neutral-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-neutral-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-neutral-500);
      border: 1px solid var(--br-color-neutral-500);

      a,
      * {
        color: var(--br-color-neutral-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-neutral-500);
        border: 1px solid var(--br-color-neutral-500);
        color: var(--br-color-white);

        a,
        * {
          color: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-neutral-200);
        border: 1px solid var(--br-color-neutral-200);

        a,
        * {
          color: var(--br-color-neutral-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-neutral-500);

      a,
      * {
        color: var(--br-color-neutral-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-neutral-600);

        a,
        * {
          color: var(--br-color-neutral-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-neutral-200);

        a,
        * {
          color: var(--br-color-neutral-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &--success {
    background-color: var(--br-color-success-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-success-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-success-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-success-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-success-500);
      border: 1px solid var(--br-color-success-500);

      a,
      * {
        color: var(--br-color-success-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-success-500);
        border: 1px solid var(--br-color-success-500);
        color: var(--br-color-white);

        a,
        * {
          color: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-success-200);
        border: 1px solid var(--br-color-success-200);

        a,
        * {
          color: var(--br-color-success-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-success-500);

      a,
      * {
        color: var(--br-color-success-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-success-600);

        a,
        * {
          color: var(--br-color-success-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-success-200);

        a,
        * {
          color: var(--br-color-success-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &--warning {
    background-color: var(--br-color-warning-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-warning-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-warning-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-warning-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-warning-500);
      border: 1px solid var(--br-color-warning-500);

      a,
      * {
        color: var(--br-color-warning-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-warning-500);
        border: 1px solid var(--br-color-warning-500);
        color: var(--br-color-white);

        a,
        * {
          color: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-warning-200);
        border: 1px solid var(--br-color-warning-200);

        a,
        * {
          color: var(--br-color-warning-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-warning-500);

      a,
      * {
        color: var(--br-color-warning-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-warning-600);

        a,
        * {
          color: var(--br-color-warning-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-warning-200);

        a,
        * {
          color: var(--br-color-warning-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  &--danger {
    background-color: var(--br-color-danger-500);
    color: var(--br-color-white);
    border: none;

    a,
    * {
      color: var(--br-color-white);
      font-weight: var(--br-font-weight-bold);
      text-decoration: none;
    }

    &:hover:not(:disabled, .disabled) {
      background-color: var(--br-color-danger-600);
      color: var(--br-color-white);
      border: none;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }
    }

    &:focus:not(:disabled, .disabled),
    &:focus-visible:not(:disabled, .disabled) {
      outline: var(--br-spacing-3x-small) solid var(--br-color-danger-100);
    }

    &:disabled,
    &.disabled {
      background-color: var(--br-color-danger-200);
      color: var(--br-color-white);
      border: none;
      cursor: not-allowed;

      a,
      * {
        color: var(--br-color-white);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
        cursor: not-allowed;
      }
    }

    &.outline {
      background-color: transparent;
      color: var(--br-color-danger-500);
      border: 1px solid var(--br-color-danger-500);

      a,
      * {
        color: var(--br-color-danger-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: var(--br-color-danger-500) !important;
        border: 1px solid var(--br-color-danger-500) !important;
        color: var(--br-color-white);

        a,
        * {
          color: var(--br-color-white);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        color: var(--br-color-danger-200);
        border: 1px solid var(--br-color-danger-200);

        a,
        * {
          color: var(--br-color-danger-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }

    &.text {
      background-color: transparent;
      border: transparent;
      color: var(--br-color-danger-500);

      a,
      * {
        color: var(--br-color-danger-500);
        font-weight: var(--br-font-weight-bold);
        text-decoration: none;
      }

      &:hover:not(:disabled, .disabled) {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-danger-600);

        a,
        * {
          color: var(--br-color-danger-600);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
        }
      }

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: transparent;
        color: var(--br-color-danger-200);

        a,
        * {
          color: var(--br-color-danger-200);
          font-weight: var(--br-font-weight-bold);
          text-decoration: none;
          cursor: not-allowed;
        }
      }
    }
  }

  // Sizes
  &--small {
    padding: var(--br-spacing-x-small) var(--br-spacing-small);
    font-size: var(--br-font-size-small);

    svg {
      width: var(--br-font-size-x-small) !important;
      height: var(--br-font-size-x-small) !important;

      * {
        fill: var();
      }
    }
  }

  &--medium {
    padding: var(--br-spacing-small) var(--br-spacing-medium);
    font-size: var(--br-font-size-medium);

    svg {
      width: var(--br-font-size-medium) !important;
      height: var(--br-font-size-medium) !important;
    }
  }

  &--large {
    padding: var(--br-spacing-medium) var(--br-spacing-large);
    font-size: var(--br-font-size-large);

    svg {
      width: var(--br-font-size-large) !important;
      height: var(--br-font-size-large) !important;
    }
  }
}
