.br-icon-button {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  text-decoration: none;
  font-family: var(--br-font-sans);
  font-size: var(--br-font-size-small);
  font-weight: var(--br-font-weight-bold);
  padding: var(--br-spacing-x-small) var(--br-spacing-x-small);
  border-radius: var(--br-border-radius-medium);
  height: auto;

  .br-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--br-spacing-large);
	height: var(--br-spacing-large);
  
	svg {
	  width: var(--br-spacing-large);
	  height: var(--br-spacing-large);
	}
  }

  &:hover {
	background-color: var(--br-color-primary-50);
  }

}

// Ripple effect
.br-icon-button.ripple {
	background-position: center;
	transition: background 0.5s;

	&:hover:not(:disabled, .disabled, .outline, .text) {
		background: var(--br-color-primary-100)
			radial-gradient(circle, transparent 1%, var(--br-color-primary-100) 1%)
			center/15000%;
	}

}