.br-alert {
  width: 100%;
  height: auto;
  font-family: var(--br-font-sans);
  font-size: var(--br-font-size-small);
  padding: var(--br-spacing-medium);
  background-color: var(--br-color-white);
  border: 1px solid var(--br-color-neutral-100);
  border-radius: var(--br-border-radius-medium);
  display: flex;
  flex-direction: initial !important;
  justify-content: space-between;
  align-items: center;
  visibility: visible;

  .message {
    display: flex;
    align-items: center;
    flex-direction: initial !important;
    margin-right: var(--br-spacing-medium);
  }

  p {
    margin: 0px;
  }

  button {
    width: 24px;
    height: 24px;

    .br-icon {
      margin: 0px !important;

      &:not(.outline) svg path {
        fill: var(--br-color-neutral-500) !important;
      }

      &.outline svg line,
      polyline,
      path {
        stroke: var(--br-color-neutral-500) !important;
      }
    }

    &:hover .br-icon {
      &:not(.outline) svg path {
        fill: var(--br-color-neutral-600) !important;
      }

      &.outline svg line,
      polyline,
      path {
        stroke: var(--br-color-neutral-600) !important;
      }
    }
  }

  &.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
  }

  &.fade-out {
    animation-name: fadeOut;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
  }

  &.hidden {
    opacity: 0;
  }

  &--primary {
    border-left: 5px solid var(--br-color-primary-500);

    .br-icon {
      margin-right: var(--br-spacing-medium);

      &:not(.outline) svg * {
        fill: var(--br-color-primary-500) !important;
        stroke: var(--br-color-primary-500) !important;
      }

      &.outline svg line,
      polyline,
      path {
        stroke: var(--br-color-primary-500) !important;
      }

      &.outline svg path:last-child {
        fill: var(--br-color-primary-500) !important;
      }
    }
  }

  &--success {
    border-left: 5px solid var(--br-color-success-500);

    .br-icon {
      margin-right: var(--br-spacing-medium);

      &:not(.outline) svg * {
        fill: var(--br-color-success-500) !important;
        stroke: var(--br-color-success-500) !important;
      }

      &.outline svg line,
      polyline,
      path {
        stroke: var(--br-color-success-500) !important;
      }
    }
  }

  &--neutral {
    border-left: 5px solid var(--br-color-neutral-500);

    .br-icon {
      margin-right: var(--br-spacing-medium);

      &:not(.outline) svg * {
        fill: var(--br-color-neutral-500) !important;
        stroke: var(--br-color-neutral-500) !important;
      }

      &.outline svg line,
      polyline,
      path {
        stroke: var(--br-color-neutral-500) !important;
      }
    }
  }

  &--warning {
    border-left: 5px solid var(--br-color-warning-500);

    .br-icon {
      margin-right: var(--br-spacing-medium);

      &:not(.outline) svg * {
        fill: var(--br-color-warning-500) !important;
        stroke: var(--br-color-warning-500) !important;
      }

      &.outline svg line,
      polyline,
      path {
        stroke: var(--br-color-warning-500) !important;
      }
    }
  }

  &--danger {
    border-left: 5px solid var(--br-color-danger-500);

    .br-icon {
      margin-right: var(--br-spacing-medium);

      &:not(.outline) svg * {
        fill: var(--br-color-danger-500) !important;
        stroke: var(--br-color-danger-500) !important;
      }

      &.outline svg line,
      polyline,
      path {
        stroke: var(--br-color-danger-500) !important;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0, 0);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(1, 1);
    }
    100% {
      opacity: 0;
      transform: scale(0, 0);
    }
  }
}

.alert-toast-wrapper {
  position: fixed;
  width: auto;
  height: auto;
  z-index: 50;

  .direction {
    display: flex;
    position: relative;
  }
}
