// Design system's tokens

:root {
	// Colors tokens	
	// Yellow Orange
	--br-color-yellow-orange-50: #FBF1D5;
	--br-color-yellow-orange-100: #F9EABE;
	--br-color-yellow-orange-200: #F4DB90;
	--br-color-yellow-orange-300: #EFCC61;
	--br-color-yellow-orange-400: #EBBD33;
	--br-color-yellow-orange-500: #D6A615;
	--br-color-yellow-orange-600: #A78111;
	--br-color-yellow-orange-700: #906F0E;
	--br-color-yellow-orange-800: #795D0C;
	--br-color-yellow-orange-900: #614C0A;
	--br-color-yellow-orange-950: #4A3A07;
	
	// Yellow
	--br-color-yellow-50: #FEF7B8;
	--br-color-yellow-100: #FEF59F;
	--br-color-yellow-200: #FEEF6D;
	--br-color-yellow-300: #FDEA3A;
	--br-color-yellow-400: #FDE408;
	--br-color-yellow-500: #D0BB02;
	--br-color-yellow-600: #9D8D02;
	--br-color-yellow-700: #837601;
	--br-color-yellow-800: #6A6001;
	--br-color-yellow-900: #514901;
	--br-color-yellow-950: #383201;

	// Yellow Green
	--br-color-yellow-green-50: #EDFBD0;
	--br-color-yellow-green-100: #E5F9B8;
	--br-color-yellow-green-200: #D3F589;
	--br-color-yellow-green-300: #C2F25A;
	--br-color-yellow-green-400: #B0EE2B;
	--br-color-yellow-green-500: #96D611;
	--br-color-yellow-green-600: #75A50D;
	--br-color-yellow-green-700: #648E0B;
	--br-color-yellow-green-800: #54760A;
	--br-color-yellow-green-900: #435E08;
	--br-color-yellow-green-950: #324706;

	// Green
	--br-color-green-50: #BDFAD5;
	--br-color-green-100: #A5F8C6;
	--br-color-green-200: #75F5A8;
	--br-color-green-300: #46F18A;
	--br-color-green-400: #17EE6D;
	--br-color-green-500: #0FC456;
	--br-color-green-600: #0B9341;
	--br-color-green-700: #097B37;
	--br-color-green-800: #07642C;
	--br-color-green-900: #064C22;
	--br-color-green-950: #043417;

	// Blue Green
	--br-color-blue-green-50: #D4F9FC;
	--br-color-blue-green-100: #BCF6FA;
	--br-color-blue-green-200: #8DF0F7;
	--br-color-blue-green-300: #5DEAF4;
	--br-color-blue-green-400: #2DE3F0;
	--br-color-blue-green-500: #0FCEDB;
	--br-color-blue-green-600: #0CA1AC;
	--br-color-blue-green-700: #0A8B94;
	--br-color-blue-green-800: #09747C;
	--br-color-blue-green-900: #075E64;
	--br-color-blue-green-950: #05484C;

	// Blue
	--br-color-blue-50: #D2E7FE;
	--br-color-blue-100: #B9DAFE;
	--br-color-blue-200: #87C0FD;
	--br-color-blue-300: #55A6FC;
	--br-color-blue-400: #238BFB;
	--br-color-blue-500: #0572E7;
	--br-color-blue-600: #0459B4;
	--br-color-blue-700: #034D9B;
	--br-color-blue-800: #034082;
	--br-color-blue-900: #023469;
	--br-color-blue-950: #022750;

	// Blue Violet
	--br-color-blue-violet-50: #F0EFFA;
	--br-color-blue-violet-100: #DEDCF4;
	--br-color-blue-violet-200: #B9B5E8;
	--br-color-blue-violet-300: #948FDC;
	--br-color-blue-violet-400: #6F68CF;
	--br-color-blue-violet-500: #4A42C3;
	--br-color-blue-violet-600: #39329F;
	--br-color-blue-violet-700: #322C8C;
	--br-color-blue-violet-800: #2B2678;
	--br-color-blue-violet-900: #242065;
	--br-color-blue-violet-950: #1D1A51;

	// Violet
	--br-color-violet-50: #F9F4FB;
	--br-color-violet-100: #EEE1F5;
	--br-color-violet-200: #D9BBE8;
	--br-color-violet-300: #C395DB;
	--br-color-violet-400: #AE6FCE;
	--br-color-violet-500: #9949C1;
	--br-color-violet-600: #7D37A0;
	--br-color-violet-700: #6E308D;
	--br-color-violet-800: #5F2A7A;
	--br-color-violet-900: #502367;
	--br-color-violet-950: #411D54;

	// Red Violet
	--br-color-red-violet-50: #F9D2E4;
	--br-color-red-violet-100: #F5BCD6;
	--br-color-red-violet-200: #EF8FBA;
	--br-color-red-violet-300: #E9639F;
	--br-color-red-violet-400: #E23684;
	--br-color-red-violet-500: #C81D6B;
	--br-color-red-violet-600: #9C1653;
	--br-color-red-violet-700: #861347;
	--br-color-red-violet-800: #70103B;
	--br-color-red-violet-900: #590D2F;
	--br-color-red-violet-950: #430A23;

	// Red
	--br-color-red-50: #FAE0E1;
	--br-color-red-100: #F6CBCC;
	--br-color-red-200: #EF9FA2;
	--br-color-red-300: #E77377;
	--br-color-red-400: #E0484D;
	--br-color-red-500: #D2232A;
	--br-color-red-600: #A61C21;
	--br-color-red-700: #90181C;
	--br-color-red-800: #7A1518;
	--br-color-red-900: #641114;
	--br-color-red-950: #4E0D0F;

	// Red Orange
	--br-color-red-orange-50: #FCDED5;
	--br-color-red-orange-100: #FACBBD;
	--br-color-red-orange-200: #F6A68E;
	--br-color-red-orange-300: #F2815F;
	--br-color-red-orange-400: #EE5C2F;
	--br-color-red-orange-500: #D6441D;
	--br-color-red-orange-600: #AA320E;
	--br-color-red-orange-700: #922B0C;
	--br-color-red-orange-800: #7B240A;
	--br-color-red-orange-900: #631D08;
	--br-color-red-orange-950: #4B1606;

	// Orange
	--br-color-orange-50: #FCE2CF;
	--br-color-orange-100: #FBD3B6;
	--br-color-orange-200: #F9B686;
	--br-color-orange-300: #F69855;
	--br-color-orange-400: #F47B25;
	--br-color-orange-500: #D9600C;
	--br-color-orange-600: #AA4C09;
	--br-color-orange-700: #914108;
	--br-color-orange-800: #793606;
	--br-color-orange-900: #612B05;
	--br-color-orange-950: #492104;

	// Primary colors
	--br-color-primary-50: var(--br-color-blue-50);
	--br-color-primary-100: var(--br-color-blue-100);
	--br-color-primary-200: var(--br-color-blue-200);
	--br-color-primary-300: var(--br-color-blue-300);
	--br-color-primary-400: var(--br-color-blue-400);
	--br-color-primary-500: var(--br-color-blue-500);
	--br-color-primary-600: var(--br-color-blue-600);
	--br-color-primary-700: var(--br-color-blue-700);
	--br-color-primary-800: var(--br-color-blue-800);
	--br-color-primary-900: var(--br-color-blue-900);
	--br-color-primary-950: var(--br-color-blue-950);

	// Success colors
	--br-color-success-50: var(--br-color-green-50);
	--br-color-success-100: var(--br-color-green-100);
	--br-color-success-200: var(--br-color-green-200);
	--br-color-success-300: var(--br-color-green-300);
	--br-color-success-400: var(--br-color-green-400);
	--br-color-success-500: var(--br-color-green-500);
	--br-color-success-600: var(--br-color-green-600);
	--br-color-success-700: var(--br-color-green-700);
	--br-color-success-800: var(--br-color-green-800);
	--br-color-success-900: var(--br-color-green-900);
	--br-color-success-950: var(--br-color-green-950);

	// Warning colors
	--br-color-warning-50: var(--br-color-orange-50);
	--br-color-warning-100: var(--br-color-orange-100);
	--br-color-warning-200: var(--br-color-orange-200);
	--br-color-warning-300: var(--br-color-orange-300);
	--br-color-warning-400: var(--br-color-orange-400);
	--br-color-warning-500: var(--br-color-orange-500);
	--br-color-warning-600: var(--br-color-orange-600);
	--br-color-warning-700: var(--br-color-orange-700);
	--br-color-warning-800: var(--br-color-orange-800);
	--br-color-warning-900: var(--br-color-orange-900);
	--br-color-warning-950: var(--br-color-orange-950);

	// Danger colors
	--br-color-danger-50: var(--br-color-red-50);
	--br-color-danger-100: var(--br-color-red-100);
	--br-color-danger-200: var(--br-color-red-200);
	--br-color-danger-300: var(--br-color-red-300);
	--br-color-danger-400: var(--br-color-red-400);
	--br-color-danger-500: var(--br-color-red-500);
	--br-color-danger-600: var(--br-color-red-600);
	--br-color-danger-700: var(--br-color-red-700);
	--br-color-danger-800: var(--br-color-red-800);
	--br-color-danger-900: var(--br-color-red-900);
	--br-color-danger-950: var(--br-color-red-950);

	// Neutral colors
	--br-color-neutral-50: #E4E9EC;
	--br-color-neutral-100: #D5DDE2;
	--br-color-neutral-200: #B7C5CD;
	--br-color-neutral-300: #99AEB8;
	--br-color-neutral-400: #7B96A3;
	--br-color-neutral-500: #607D8B;
	--br-color-neutral-600: #4B616C;
	--br-color-neutral-700: #41545D;
	--br-color-neutral-800: #36464E;
	--br-color-neutral-900: #2C393F;
	--br-color-neutral-950: #212B30;

	// Black and White
	--br-color-white: #FFFFFF;
	--br-color-black: #000000;

	// Spacing tokens
	--br-spacing-3x-small: 0.125rem;
	--br-spacing-2x-small: 0.25rem;
	--br-spacing-x-small: 0.5rem;
	--br-spacing-small: 0.75rem;
	--br-spacing-medium: 1rem;
	--br-spacing-large: 1.25rem;
	--br-spacing-x-large: 1.75rem;
	--br-spacing-2x-large: 2.25rem;
	--br-spacing-3x-large: 3rem;
	--br-spacing-4x-large: 4.5rem;

	// Border-radius tokens
	--br-border-radius-small: 0.1875rem;
	--br-border-radius-medium: 0.25rem;
	--br-border-radius-large: 0.5rem;
	--br-border-radius-x-large: 1rem;
	--br-border-radius-circle: 50%;
	--br-border-radius-pill: 9999px;

	// Typography tokens
	// Font Family
	--br-font-sans: Montserrat, 'Open Sans', sans-serif;
	--br-font-serif: 'Roboto Serif', 'Times New Roman', serif;
	--br-font-mono: 'Ubuntu Mono', Consolas, monospace;

	// Font Size
	--br-font-size-2x-small: 0.625rem;
	--br-font-size-x-small: 0.75rem;
	--br-font-size-small: 0.875rem;
	--br-font-size-medium: 1rem;
	--br-font-size-large: 1.25rem;
	--br-font-size-x-large: 1.5rem;
	--br-font-size-2x-large: 2.25rem;
	--br-font-size-3x-large: 3rem;
	--br-font-size-4x-large: 4.5rem;

	// Font Weight
	--br-font-weight-thin: 200;
	--br-font-weight-normal: 400;
	--br-font-weight-bold: 600;
	--br-font-weight-superbold: 700;
}

